<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>

<div class="container login">
<a href="/"><img class="logo login" src = "/images/logo - white.png" class="logo login"></a>
<h3 class="h3 mb-3">Welcome back!</h3>

  <form action="/users/login" method="POST" class="form-signin"></form>
  <div class = "form-group">
      <input type="email" class="form-control" placeholder="Enter Email" id="email" >
    </div><br>

      <input type="password" class="form-control" placeholder="Enter Password" id="pwd">
    <br>
    <button class="cta_button login">Log-In</button>

</form>
<p class="mt-3">No account? <a class="register" href="/users/register">Register</a>
</div>
</body>
</html>