<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>

<div class="container login">
<h1>Welcome</h1>
<h2>Adaptivity Log-In</h4>

<img src = "/images/logo - white.png" class="logo login">

<form action="action_page.php">
    <div class = "form-group">
      <input type="email" class="form-control" placeholder="Enter Email" id="email" style="width: 200px;">
    </div><br>

      <input type="password" class="form-control" placeholder="Enter Password" id="pwd" style="width: 200px;">
    <br>

    <div class = "form-group form-check">
      <label for="form-check-label"></label>
        <input class="form-check-input" type="checkbox">Remember Me
    </div><br>
    <button >Log-In</button>
    <button >Register</button>
</form>

</div>
</body>
</html>